* {
    padding: 0px;
    margin: 0px;
    gap: 0px;
    box-sizing: none;
}

nav {
    padding: 10px;
    background: #DADDFC;
}

.flex-container-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.box-1 {
    height: 30px;
    width: 310px;
}

.flex-container-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-2 {
    height: 30px;
    width: 185px;
}

